{% extends '../layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Dashboard{% endblock %}
{% block content %}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'phishingDetector:homeView' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </div>

  <div class="row mb-3">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Chats (Total)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{get_total_chats}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-envelope fa-2x text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Messages (Total)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{get_total_messages}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-envelope fa-2x text-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- New User Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Safe Messages (Total)</div>
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{not_phishing_messages_total}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-envelope fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Spam Messages (Total)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{is_phishing_messages_total}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-envelope fa-2x text-danger"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 col-lg-12 mb-4">
      <div class="card p-3">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Model Results </h6>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush datatable" id="datatable">
            <thead class="thead-light">
              <tr>
                <th>SN</th>
                 <th>Created At</th>
                <th>Message Body</th>
                <!-- <th>Sender </th> -->
                <th>Status</th>
               
                <!-- <th>Updated At</th> -->
                <!-- <th>Status</th> -->
                <th>Action</th>
              </tr>
            </thead>
            {% if results %}
                <tbody>
                    {% for chat in results %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ chat.created_at }}</td>
                            <td>{{chat.message_body }}</td>
                          
                            <!-- <td>{{chat.sender_name.name }}</td> -->
                            <td> {% if chat.status == true %} <span class="badge badge-danger">Spam</span> {% else %} <span class="badge badge-success">Safe</span> {% endif %}</td>
                            <!-- <td>{{chat.created_at|naturaltime}}</td> -->
                            <!-- <td><span class="badge badge-success">Safe</span></td> -->
                            <td><a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#chatModalDetailView{{chat.id}}"><span class="fa fa-eye"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <!-- Modal -->
    {% if chats %}
    {% for chat in chats %}
      <div class="modal fade" id="chatModalDetailView{{chat.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="chatModalDetailView{{chat.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="chatModalDetailView{{chat.id}}Label">Chats <span class="text-success fw-bold">#{{chat.id}}</span></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span><b>chat id:</b> {{chat.id}}</span>,
              <span><b>chat name:</b> {{chat.chat_name|title}}</span>,
              <span><b>chat members id:</b> 
                {% for member in chat.chat_members %}
                  {% for account in accounts %}
                    {% if member == account.uid %}
                      <span class="text-primary fw-bold">[{{ member }} ({{account.first_name|title}} {{account.last_name|title}})]</span>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </span>,
              <span><b>chat description:</b> {{chat.chat_description|title}}</span>,
              <span><b>chat status:</b> <span class="badge badge-success">Safe</span></span>.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

  </div>
{% endblock %}