{% extends '../layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Messages{% endblock %}
{% block content %}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Messages</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'phishingDetector:messagesView' %}">Messages</a></li>
      <li class="breadcrumb-item active" aria-current="page">Messages</li>
    </ol>
  </div>

  <div class="row mb-3">
    <!-- Earnings (Monthly) Card Example -->

    <div class="col-xl-12 col-lg-12 mb-4">
      <div class="card p-3">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Messages</h6>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush datatable" id="datatable">
            <thead class="thead-light">
              <tr>
                <th>SN</th>
                <th>Message ID</th>
                <th>Message Body</th>
                <th>Sender ID</th>
                <th>Recipient ID</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            {% if chat_messages %}
                <tbody>
                    {% for chat_message in chat_messages %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="#">{{chat_message.id}}</a></td>
                            <td>{{chat_message.message_text}}</td>
                            <td>
                              <span class="badge bg-primary text-white">
                                {% for account in accounts %}
                                  {% if chat_message.sender_id == account.uid %}
                                  {{chat_message.sender_id}}: {{account.first_name|title}} {{account.last_name|title}}
                                  {% endif %}
                                {% endfor %}
                              </span>
                            </td>
                            <td>
                              <span class="badge bg-dark text-white">
                                {% for chat in chats %}
                                  {% if chat_message.recipient_id == chat.id %}
                                    {{chat_message.recipient_id}}: {{chat.chat_name}}
                                  {% endif %}
                                {% endfor %}
                              </span>
                            </td>
                            <td>{{chat_message.created_at|naturaltime}}</td>
                            <td><span class="badge badge-danger">Spam</span></td>
                            <td><a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#messagesModalDetailView{{chat_message.id}}"><span class="fa fa-eye"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>


    {% if chat_messages %}
    {% for chat_message in chat_messages %}
      <div class="modal fade" id="messagesModalDetailView{{chat_message.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="messagesModalDetailView{{chat_message.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="messagesModalDetailView{{chat_message.id}}Label">Messages <span class="text-success fw-bold">#{{chat_message.id}}</span></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span><b>message id:</b> {{chat_message.id}}</span>,
              <span><b>messae text:</b> {{chat_message.message_text}}</span>,
              <span><b>sender id:</b> 
                {% for account in accounts %}
                  {% if chat_message.sender_id == account.uid %}
                  <span class="badge badge-primary">{{chat_message.sender_id}}: {{account.first_name|title}} {{account.last_name|title}}</span>
                  {% endif %}
                {% endfor %}
              </span>,
              <span><b>recipient id:</b> 
                {% for chat in chats %}
                  {% if chat_message.recipient_id == chat.id %}
                    <span class="badge badge-primary">{{chat_message.recipient_id}}: {{chat.chat_name|title}}</span>
                  {% endif %}
                {% endfor %}
              </span>,
              <!-- <span><b>message images:</b> <a href="{{chat_message.image_path.urls}}">{{chat_message.image_path.urls}}</a></span>, -->
              <span><b>chat status:</b> <span class="badge badge-danger">Spam</span></span>.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

  </div>
{% endblock %}